extends baseEmail

block content
  p 您好 #{firstName},
  p 忘记密码？请发送一个 PATCH 请求到以下地址，包含您的新密码和 passwordConfirm 字段：#{url}。
  p （此功能的网页尚未实现。）
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') 重置您的密码
  p 如果您没有忘记密码，请忽略此邮件！
