footer.footer
  .footer__logo
  ul.footer__nav
    li: a(href='#') 关于我们
    li: a(href='#') 下载应用
    li: a(href='#') 成为导游
    li: a(href='#') 招聘职位
    li: a(href='#') 联系我们
  p.footer__copyright &copy; by 梦之旅团队. 版权所有.